body {background:url('img/bck.png');
	color: #000000;
	font-family:Verdana;
	
}
div.main{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background:#cecece;
	box-shadow: 0 0 10px #000;
	padding-bottom:40px;
}

header{
	background:url('img/topBck.png');
	background-repeat:repeat-x;
	text-align:center;
}

.title{
	font-size:29px;
	margin-top: 30px;
	margin-bottom: 12px;
	color: #374665;
	text-align:center;
	font-weight: bold;
}

.titleDetails{
	font-size:17px;
	color: #374665;
	text-align:center;
}


#qrCode{
	margin:20px;
	padding:25px;
	box-shadow: inset  0 0 20px #000;
	border-radius:20px;
	background-color:white;
	width: 350px;
	height: 350px;
}

.result{
	color: black;
	
}

button{
	border: 0;
	background-color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color: #ffffff;
    margin:4px;
    padding:10px;
}

input{
	border: 0;
	background-color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color: #ffffff;
    margin:4px;
	padding:10px;
}

.stars{
	padding: 40px; 
	
}

.star1{
	margin:15px;
	
}

input[type="text"]{
 background-color: white;
 color: black;
 width:212px;
}

select{
	
	
}

.result{
	padding:30px;
	
}

table, tr, td{
	border:none;
}

