<!DOCTYPE html>
<table border = "1">
	{% for question in question_list %}
		<tr>
		    <td><b>{{ question.question_text }}</b> ( {{ question.question_choices_max }} )</td> <td><b>Votes</b></td> <td colspan = "10" ><b>Voters</b></td>
		</tr>   
		<tr>
	    {% for choice in question.choice_set.all %}
	        <tr><td>{{ choice.choice_text }}</td><td>{{ choice.vote_set.count}}</td>
	        	{% for vote in choice.vote_set.all %}
	        		<td>{{vote.voter_id}}</td>
	        	{% endfor %}
	        </tr>
	    {% endfor %}
		</tr>

	{% endfor %}
</table>